<div [ngClass]="{'bg-without-items-in-list': !itemsTaskList.length}" class="tasks-container">
  <ul
    class="task-container"
    *ngIf="itemsTaskList.length"
  >
    <li *ngFor="let task of itemsTaskList; let i = index">
      <input
        type="checkbox"
        [(ngModel)]="task.checked"
      >
      <input
        type="text"
        [(ngModel)]="task.value"
        [ngStyle]="{ 'text-decoration': task.checked ? 'line-through' : 'none'}"
        (keyup)="validValue(task.value, i)"
      >
      <button
        (click)="deleteTask(i)"
      >
        <img src="assets/dump.svg" alt="">
      </button>
    </li>
  </ul>
</div>
<app-input-add-task (emitAddTaskValue)="setItemInTaskList($event)"></app-input-add-task>
<app-button-remove-tasks *ngIf="itemsTaskList.length" (click)="removeAllTasks()"></app-button-remove-tasks>
